@page
@model EventManagementFPT.Pages.Event.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblEvent.EventId" />
            <div class="form-group">
                <label asp-for="TblEvent.Name" class="control-label"></label>
                <input asp-for="TblEvent.Name" class="form-control" />
                <span asp-validation-for="TblEvent.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.Description" class="control-label"></label>
                <input asp-for="TblEvent.Description" class="form-control" />
                <span asp-validation-for="TblEvent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.CreateDate" class="control-label"></label>
                <input asp-for="TblEvent.CreateDate" class="form-control" />
                <span asp-validation-for="TblEvent.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.StartDate" class="control-label"></label>
                <input asp-for="TblEvent.StartDate" class="form-control" />
                <span asp-validation-for="TblEvent.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.EndDate" class="control-label"></label>
                <input asp-for="TblEvent.EndDate" class="form-control" />
                <span asp-validation-for="TblEvent.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.Venue" class="control-label"></label>
                <input asp-for="TblEvent.Venue" class="form-control" />
                <span asp-validation-for="TblEvent.Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.Status" class="control-label"></label>
                <input asp-for="TblEvent.Status" class="form-control" />
                <span asp-validation-for="TblEvent.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.CanComment" class="control-label"></label>
                <input asp-for="TblEvent.CanComment" class="form-control" />
                <span asp-validation-for="TblEvent.CanComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblEvent.Category" class="control-label"></label>
                <select asp-for="TblEvent.Category" class="form-control" asp-items="ViewBag.Category"></select>
                <span asp-validation-for="TblEvent.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
