@page
@model EventManagementFPT.Pages.Authentication.IndexModel
@{
    Layout = "";
    ViewData["title"] = "Login";
}

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<style>
    ion-icon {
        font-size: 24px;
    }
</style>

@if (TempData["noti"] != null)
{
    <div style="position: absolute; top: 20px; right: 20px; min-width: 200px; z-index: 1000;">
        <div class="toast shadow-lg" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header bg-warning text-dark">
                <ion-icon name="settings-outline"></ion-icon>
                <strong class="mr-auto ml-1">System</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @TempData["noti"]
            </div>
        </div>
    </div>
}
@if (TempData["success"] != null)
{
    <div style="position: absolute; top: 20px; right: 20px; min-width: 200px; z-index: 1000;">
        <div class="toast shadow-lg" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header bg-success text-dark">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <strong class="mr-auto ml-1">System</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @TempData["success"]
            </div>
        </div>
    </div>
}
@if (TempData["error"] != null)
{
    <div style="position: absolute; top: 20px; right: 20px; min-width: 200px; z-index: 1000;">
        <div class="toast shadow-lg" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header bg-danger text-dark">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <strong class="mr-auto ml-1">System</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                @TempData["error"]
            </div>
        </div>
    </div>
}

<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100 bg-gradient-primary">
    <div>

        <form method="post" class="p-5 shadow rounded">
            <h3 class="text-center mb-5 font-weight-bold">Shopping Website</h3>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="email-icon"><ion-icon name="mail-outline"></ion-icon></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" id="email" asp-for="email">
            </div>

            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="password-icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" id="password" asp-for="password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>