@page
@model CookingBakery.Pages.EventPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div asp-validation-summary="All">

</div>

<div class="container-fluid mt-5 pl-5 pr-5 mb-5">
    <form method="post" enctype="multipart/form-data">
        <div class="row mr-4 ml-4">
            <div class="col-8">
                <div class="border rounded shadow-sm p-4">
                    <h4 class="font-weight-bold d-flex align-items-center justify-content-center"><ion-icon class="mt-1 mr-1" name="cube-outline"></ion-icon>Post's data</h4>
                    <div class="form-group">
                        <label class="font-weight-bold" for="title">Title of the post</label>
                        <input asp-for="Post.Title" type="text" class="form-control" id="title" placeholder="An eye-catching title..."/>
                        <span asp-validation-for="Post.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="content" class="font-weight-bold">Content</label>
                        <textarea asp-for="Post.Description" rows="5" class="form-control" id="content"> </textarea>
                        <span asp-validation-for="Post.Description" class="text-danger"></span>
                    </div>
                    <label class="font-weight-bold">Cover image</label>
                    <div class="custom-file">
                        <input type="file" accept="image/*" class="custom-file-input" id="customFile" name="customFile">
                        <label id="customFileLabel" class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="rounded mt-3 shadow-sm image-holder justify-content-center align-items-center mt-3 font-weight-bold">Preview your image here</div>
                    <img src="" class="img-fluid" id="preview-image">
                </div>
            </div>
            <div class="col-4">
                <div class="border rounded shadow-sm p-4">
                    <h4 class="font-weight-bold d-flex align-items-center justify-content-center">
                        <ion-icon class="mt-1 mr-1" name="settings-outline"></ion-icon>Settings
                    </h4>
                    <div class="form-group">
                        <label class="font-weight-bold" for="category-select">Category</label>
                        <select name="categoryId" asp-items="ViewBag.Category">
                        </select>
                    </div>
                    <hr>
                    <button class="btn btn-outline-primary btn-block" type="submit">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}