@page
@model EventManagementFPT.Pages.Homepage.IndexModel
@{
}
<head>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<div class="container-fluid mt-5 pl-5 pr-5 mb-5">
    <div class="row mr-4 ml-4">
        <div class="col-3">
            <div class="border rounded shadow p-4">
                <h3 class="text-center">
                    <ion-icon name="filter-outline"></ion-icon> Filter
                </h3>
                <form>
                    <p>
                        <label for="start-date" class="h5">From: </label>
                        <input id="start-date" type="datetime-local" class="form-control start-date" />
                    </p>
                    <p class="mt-3">
                        <label for="end-date" class="h5">To: </label>
                        <input id="end-date" type="datetime-local" class="form-control start-date" />
                    </p>
                    <hr />
                    <p class="mb-3">
                        <label for="cat-select" class="h5">Category: </label>
                        <select class="custom-select" id="cat-select">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </p>
                    <hr />
                    <p class="mb-3">
                        <label for="venue-select" class="h5">Venue: </label>
                        <select class="custom-select" id="venue-select">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </p>
                    <hr />
                    <button type="submit"
                            class="btn btn-outline-primary btn-block d-flex align-items-center justify-content-center">
                        <ion-icon class="mr-2" name="funnel-outline"></ion-icon>
                        <span>Filter</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-9">
            <div class="border roudned shadow p-4">
                <h3 class="d-flex align-items-center">
                    New events
                    <span class="badge badge-danger ml-2">
                        <ion-icon name="flame-outline"></ion-icon>
                    </span>
                </h3>
                <div class="container-fluid mt-4">
                    <!-- New events -->
                    <div class="card-deck">
                        <div class="card event">
                            <img src="../image/event.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Event's name</h5>
                                <div class="d-flex align-items-center mb-2">
                                    <ion-icon class="event-time" name="time-outline"></ion-icon>
                                    <span class="font-weight-bold ml-2 flex-grow-1">
                                        29-Jun-2022 01:17 AM
                                    </span>
                                    <div class="d-flex align-items-center">
                                        <ion-icon class="event-time" name="people-outline"></ion-icon>
                                        <span class="font-weight-bold ml-2">
                                            22 going
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tag d-flex align-items-center rounded" id="location">
                                        <ion-icon name="location-outline"></ion-icon>Ho Chi Minh
                                    </span>
                                </div>
                            </div>
                            <a href="./detail.html" class="stretched-link"></a>
                        </div>
                        <div class="card event">
                            <img src="../image/event.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Event's name</h5>
                                <div class="d-flex align-items-center mb-2">
                                    <ion-icon class="event-time" name="time-outline"></ion-icon>
                                    <span class="font-weight-bold ml-2 flex-grow-1">
                                        29-Jun-2022 01:17 AM
                                    </span>
                                    <div class="d-flex align-items-center">
                                        <ion-icon class="event-time" name="people-outline"></ion-icon>
                                        <span class="font-weight-bold ml-2">
                                            22 going
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tag d-flex align-items-center rounded" id="location">
                                        <ion-icon name="location-outline"></ion-icon>Ho Chi Minh
                                    </span>
                                </div>
                            </div>
                            <a href="#" class="stretched-link"></a>
                        </div>
                        <div class="card event">
                            <img src="../image/event.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-4">Event's name</h5>
                                <div class="d-flex align-items-center mb-2">
                                    <ion-icon class="event-time" name="time-outline"></ion-icon>
                                    <span class="font-weight-bold ml-2 flex-grow-1">
                                        29-Jun-2022 01:17 AM
                                    </span>
                                    <div class="d-flex align-items-center">
                                        <ion-icon class="event-time" name="people-outline"></ion-icon>
                                        <span class="font-weight-bold ml-2">
                                            22 going
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="tag d-flex align-items-center rounded" id="location">
                                        <ion-icon name="location-outline"></ion-icon>Ho Chi Minh
                                    </span>
                                </div>
                            </div>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                    <!-- Event list -->
                    <hr class="mt-4 mb-4" />
                    <div class="row">
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center pagination-lg">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>