@page
@model EventManagementFPT.Pages.ReportPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="container py-5">
    <h1>Create</h1>

    <h4>Report</h4>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Report.Name" class="control-label"></label>
                    <input asp-for="Report.Name" class="form-control"/>
                    <span asp-validation-for="Report.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Report.Content" class="control-label"></label>
                    <input asp-for="Report.Content" class="form-control"/>
                    <span asp-validation-for="Report.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}